<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="br">
<head>
    <title>Cadastro de Jogadores</title>
    <div th:replace="~{/fragments/heads.html :: heads}"></div>
</head>
<body>
<div class="wrapper">
    <!-- Sidebar -->
    <div th:replace="~{/fragments/sidebar.html :: sidebar}"></div>
    <!-- End Sidebar -->

    <div class="main-panel">
        <div class="main-header">

            <!-- Fragmento de código que será substituído pelo conteúdo do fragmento "logo" -->
            <div th:replace="~{/fragments/logo.html :: logo}"></div>
            <!-- Navbar Header -->
            <div th:replace="~{/fragments/navbar.html :: navbar}"></div>
            <!-- End Navbar -->
        </div>


        <div class="container">
            <div class="page-inner">
                <div class="page-header">
                    <h3 class="fw-bold mb-3">Cadastrar Jogador</h3>

                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="card">
                            <form action="#" th:action="@{/jogador/inserir}" th:object="${jogador}" method="post">
                            <div class="card-header">
                                <div class="card-title">Dados do Jogador</div>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-12 col-lg-12">
                                        <div class="form-group">
                                            <label for="nome">Nome</label>
                                            <input
                                                    type="text"
                                                    class="form-control"
                                                    id="nome"
                                                    placeholder="Informe o Nome do Jogador"
                                                    th:field="*{nome}"
                                            />

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="card-action">
                                <button class="btn btn-success" type="submit">Salvar</button>
                                <button class="btn btn-danger">Cancelar</button>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div th:replace="~{/fragments/footer.html :: footer}"></div>
    </div>


    <!-- End Custom template -->
</div>
<div th:replace="~{/fragments/scripts.html :: scripts}"></div>
<div th:replace="~{/fragments/datatables.html :: datatables}"></div>

</body>
</html>
